@page "/vlastnictvi"
@using alpha_3_CRUD
@using MauiApp1.Pages.Components

<h1>Vlastnictvi</h1>
<h3>Search</h3>

<input class="form-control" placehodler="" @bind="VD.selectedId" type="text">
<button class="btn btn-primary" @onclick="VD.HandleSingleInputChange">Search!</button>
<button class="btn btn-primary" @onclick="VD.HandleDelete">Delete ID!</button>
<br>
<label for="new-nazev"> Podil: </label>
<input class="form-control" placehodler="" id="new-nazev"@bind="VD.newObject.Podil" type="text">

<label for="new-idpozemek-nazev"> IdPozemek: </label>
<input class="form-control" placehodler="" id="new-idpozemek-nazev"@bind="VD.newObject.IdPozemek" type="text">

<label for="new-idvlastnik-nazev"> IdVlastnik: </label>
<input class="form-control" placehodler="" id="new-idvlastnik-nazev"@bind="VD.newObject.IdPozemek" type="text">

<label for="new-zpusobnabiti-nazev"> ZpusobNabiti: </label>
<input class="form-control" placehodler="" id="new-zpusobnabiti-nazev"@bind="VD.newObject.ZpusobNabiti" type="text">

<label for="new-podil-nazev"> Podil: </label>
<input class="form-control" placehodler="" id="new-podil-nazev"@bind="VD.newObject.Podil" type="text">
<br>
<button class="btn btn-primary" @onclick="VD.HandleCreate">Create!</button>
<button class="btn btn-primary" @onclick="VD.HandleUpdate">Update ID!</button>
<ReadSingleView @ref="VD.readSingleViewRef" ChildType="typeof(Vlastnictvi)" ItemId="@VD.selectedId"/>
<h3>List</h3>
<ListDataView @ref="VD.listDataViewRef" ChildType="typeof(Vlastnictvi)"/>
<button class="btn btn-primary" @onclick="VD.HandleListInputChange">List!</button>
<h3 @bind="VD.DebugText"></h3>
<ImportJsonViewComponent Type="typeof(Vlastnictvi)"/>

@code {
    ViewData.ViewDataModel<Vlastnictvi> VD = new();
}